{% extends "base.html" %}

{% block content %}
<h1>Новая статья про персонажа</h1>

<form action="" method="post">
    {{ form.hidden_tag() }}
    {{ form.csrf_token }}
    <p>
        {{ form.title.label }}<br>
        {{ form.title(class="form-control") }}<br>
        {% for error in form.title.errors %}
    <p class="alert alert-danger" role="alert">
        {{ error }}
    </p>
    {% endfor %}
    </p>
    <p>
        {{ form.fullname.label }}<br>
        {{ form.fullname(class="form-control") }}<br>
        {% for error in form.fullname.errors %}
    <p class="alert alert-danger" role="alert">
        {{ error }}
    </p>
    {% endfor %}
    </p>
    <p>{{ form.is_real() }} {{ form.is_real.label }}</p>
    <p>
        {{ form.race.label }}<br>
        {{ form.race(class="form-control") }}<br>
        {% for error in form.race.errors %}
    <p class="alert alert-danger" role="alert">
        {{ error }}
    </p>
    {% endfor %}
    </p><p>
        {{ form.period.label }}<br>
        {{ form.period(class="form-control") }}<br>
        {% for error in form.period.errors %}
    <p class="alert alert-danger" role="alert">
        {{ error }}
    </p>
    {% endfor %}
    </p><p>
        {{ form.biography.label }}<br>
        {{ form.biography(class="form-control") }}<br>
        {% for error in form.biography.errors %}
    <p class="alert alert-danger" role="alert">
        {{ error }}
    </p>
    {% endfor %}
    </p><p>
        {{ form.connected.label }}<br>
        {{ form.connected(class="form-control") }}<br>
        {% for error in form.connected.errors %}
    <p class="alert alert-danger" role="alert">
        {{ error }}
    </p>
    {% endfor %}
    </p>
    <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
    {{message}}
</form>
{% endblock %}